@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --background-color: 255,255,255;
}

#time {
    font-family: 'Inter', sans-serif;
    font-size: 100px;
    font-weight: 700;
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(-50%);
    color: #fff;
}

#weather {
    font-family: 'Inter', sans-serif;
    font-size: 25px; /* Smaller font for weather */
    font-weight: 300;
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(-50%);
    color: #FFF;
    margin-top: 120px; /* Creates space between time and weather */
    width: 100%;
    text-align: center;
}

.discord {
    font-family: 'Inter', sans-serif;
    font-size: 20px; /* Smaller font for weather */
    font-weight: 300;
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(-50%);
    color: #FFF;
    margin-top: 165px; /* Creates space between time and weather */
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-style: italic;
}

#buttons {
    display: flex;
    position: absolute;
    width: 40vw;
    height: 5vh;
    left: 50%;
    top: 49vh;
    transform: translate(-50%);
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#buttons img:hover {
    transform: scale(1.15);
    cursor: pointer;
}
#buttons img {
    width: 40px;
    transition: transform 0.1s ease-in-out;
}

#text {
    position: absolute;
    width: 60vw;
    height: 3vh;
    left: 50%;
    top: 46%;
    transform: translate(-50%);
}

#text p {
    color: #fff;
    font-size: 17px;
    font-style: italic;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}